/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-background-color: linear-gradient(to top, #48d2a7, #9bf4e9);
}

.menu-bar {
    -fx-background-color: #f0ffff;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}

.menu, .menu-item {
    -fx-background-color: #f0ffff;
    -fx-text-fill: black;
}

.menu:hover, .menu-item:hover {
    -fx-background-color: #e0ffff;
}

.menu .label, .menu-item .label {
    -fx-text-fill: black;
}

.menu:hover .label, .menu-item:hover, .label, .list-cell, .list-cell:hover{
    -fx-text-fill: black;
}

.button, .text-field  {
	-fx-font-weight: bold;
	-fx-background-color: #e0ffff;
	-fx-font-color: black;
}

#eliminar {
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #D40000;
    -fx-text-fill: #D40000;
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
}

#limpiar {
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #E07B00;
    -fx-text-fill: #E07B00;
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
}

.button:focused, .combo-box:focused, .text-field:focused {
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #1e7f5e;
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
}

.combo-box{
    -fx-background-color: #e0ffff;
    -fx-font-color: black;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}

.hbox {
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
    -fx-background-color: #f0ffff;
}

.list-view {
    -fx-background-color: #f0ffff;
    -fx-border-color: #38a282;
    -fx-border-width: 2px;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}

.list-cell {
    -fx-background-color: transparent;
}

.list-cell:hover {
    -fx-background-color: #b7ffff;
}

.label{
    -fx-font-color: black;
    -fx-font-weight: bold;
}

.table-view {
    -fx-background-color: #f8ffff;
    -fx-border-color: black;
}

.table-row-cell:hover {
    -fx-background-color: #f8ffff;
}

.table-column-header {
    -fx-background-color: #f8ffff;
    -fx-text-fill: black; /* Asegura que el texto sea negro */
}

.table-view .text, .table-view .table-cell {
    -fx-text-fill: black; /* Asegura que el texto en la tabla sea negro */
}

.table-view .table-row-cell:hover .text, .table-view .table-row-cell:hover .table-cell {
    -fx-text-fill: black; /* Asegura que el texto sea negro también en hover */
}

.stack-pane {
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-padding: 10px;
    -fx-background-radius: 5px;
}